.box {
    height: 50px;
    margin-bottom: 10px;
}

#color-one {
    background-color: #f6b93b;
}

#color-two {
    background-color: #60a3bc80;
}

#color-three {
    background-color: rgb(183, 21, 64);
}

#color-four {
    background-color: hsl(180, 79%, 40%);
}

#color-five {
    background-color: aqua;
}

#text-color-one {
    color: #f6b93b;
}

#text-color-two {
    color: #60a3bc80;
}

#text-color-three {
    color: rgb(183, 21, 64);
}

#text-color-four {
    color: hsl(180, 79%, 40%);
}

#text-color-five {
    color: aqua;
}